<button (click)="showMessage('Hello')" class="btn btn-success">
  Show welcome
</button>
<button (click)="changeCourseName()" class="btn btn-danger">
  change course name
</button>

<input type="text" [value]=courseName>
<p>{{ courseName }}</p>

<input type="text" [(ngModel)]="courseName"/>

<select [(ngModel)]="stateName">
  <option value="">Select</option>
  <option value="Maharastra">Maharasto</option>
  <option value="Goa">Goa</option>
  <option value="Dhaka">Dhaka</option>
</select>

<h1>
  {{ firstName() }}
</h1>
